@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Vjezba.Web.Mock.Client
@{
}

<div class="row">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controler="Client" asp-action="Index">Popis klijenata</a></li>
            <li class="breadcrumb-item" aria-current="page">@Model.FirstName @Model.LastName</a></li>
        </ol>
    </nav>
    <div class="row col-md-4 mt-2">
        <dt class="col-md-6"> ID </dt>
    <dd class="col-md-6"> @Model.ID </dd>
    <dt class="col-md-6"> Ime i Prezime </dt>
    <dd class="col-md-6"> @Model.FirstName @Model.LastName </dd>
    <dt class="col-md-6"> E-mail </dt>
    <dd class="col-md-6"> @Model.Email </dd>
    <dt class="col-md-6"> Spol </dt>
    <dd class="col-md-6"> @Model.Gender </dd>
    <dt class="col-md-6"> Adresa </dt>
    <dd class="col-md-6"> @Model.Address </dd>
    <dt class="col-md-6"> Telefon </dt>
    <dd class="col-md-6"> @Model.PhoneNumber </dd>
    <dt class="col-md-6"> Grad </dt>
    <dd class="col-md-6 mb-5"> @Model.City.Name </dd>
    </div>
    <a asp-controller="Client" asp-action="Index">Back to List</a>
</div>